.mode
  .btn.btn-xl
    font-family $f_elektra
    color #4a4a4a
    font-size 16px
    height 54px
    line-height 57px
    display block
    margin-bottom 26px
    cursor default

  span
    display inline-block
    vertical-align top
    font-family $f_elektra
    text-transform uppercase

  span.grafic
    display block
    text-align left
    margin-bottom 24px

  .justifyed
    margin-bottom 26px

    div
      display inline-block
      vertical-align top
      max-width 50%

      span
        display inline-block
        vertical-align top
        height 52px
        line-height 56px
        color #4a4a4a
        font-size 16px

      .day
        margin-right 18px

      .border
        width 55px
        font-family $f_pfdin
        border 1px solid #eaeaea
        text-align center
        font-size 28px
        color #808080

      .colon
        margin 0 12px
        position relative
        width 5px

      .colon:before,
      .colon:after
        position absolute
        content ""
        width 5px
        height 5px
        border-radius 5px
        background #808080
        left 0

      .colon:before
        top 20px

      .colon:after
        top 30px

      .line
        margin 0 20px
        position relative
        width 22px

      .line:after
        position absolute
        content ""
        left 0
        right 0
        border-top 2px solid #d0cdc7
        top 26px

  .notifocation
    display block
    border-top 1px solid #e4e1de
    border-bottom 1px solid #e4e1de
    font-family $f_elektra
    padding 10px 0 10px
    color #4a4a4a
    font-size 16px
    line-height 26px
