.social
  font-size 0
  line-height 0
  letter-spacing -1px
  white-space nowrap

  div,
  a
    white-space normal
    display inline-block
    vertical-align top
    width 32px
    height 32px
    margin-left 4px
    margin-right 4px
    opacity 0.6
    transition all 0.3s ease-in-out
    -webkit-transition all 0.3s ease-in-out
    cursor pointer
    line-height normal
    letter-spacing normal
    display inline-block
    vertical-align top
    zoom 1

  .social-pin
    sprite($icon_sodical_pin)
  .social-vk
    sprite($icon_sodical_vk)
  .social-fb
    sprite($icon_sodical_fb)
  .social-in
    sprite($icon_sodical_in)

  .social-share
    width 21px
    height 21px
    margin-top 5px
    margin-left 9px
    margin-right 0

  div:hover,
  a:hover
    opacity 1

.social-share
  width 21px
  height 21px
  sprite($icon_share)