@import 'partials/mixins';
@import 'partials/fonts';
@import 'partials/reset';
@import 'partials/text';

// UI
@import 'ui/btn';
@import 'ui/slick';
@import 'ui/formstyler';
@import 'ui/sprite/sprite';
@import 'ui/social';
@import 'ui/input';
@import 'ui/tags';

// blocks
@import 'blocks/header';
@import 'blocks/footer';

//pages
@import 'pages/pageIndex';