.history
  padding-top 20px

  .title
    display block
    font-family $f_pfdin
    font-size 28px
    color #808080
    text-transform uppercase
    text-decoration underline
    margin-bottom 14px
    padding-bottom 17px
    border-bottom 1px solid #e4e1de

  &--content
    padding-top 5px

    &-img
      display block
      width 100%
      margin 0 auto 32px

    p
      display block
      margin-bottom 26px
      font-family $f_elektra
      font-size 16px
      line-height 26px
      color #4a4a4a

    strong
      font-weight bold

    i
      font-style italic
