block vars
    - var title='Title'

extends partials/layout
block content
    section.history
        .wrapper
            .title История

            .history--content
                img(src="images/img--history.jpg" class="history--content-img" alt="")
                p Hust & Claire  - это семейная датская компания являющаяся частью Claire Group которая была основана в 1975 году датским предпринимателем Андерсом Хустом.
                p Производство и продажа детской одежды осуществляется под маркой Hust & Claire.  Одежда под маркой Claire специализируется на производстве и продаже женской одежды. Claire Group гарантирует, что вся одежда произведена на фабриках при соблюдении высоких стандартов условий труда и из материалов только высшего качества.

    // Этот скрипт на сервере удалять
    script(type="text/javascript" ) $(function(){$.pixlayout({src: "images/temp/hisory.jpg",opacity: 0.5,top: 0,left: -4,center: false,clip: true,show: false});});





