block vars
    - var title='Title'

extends partials/layout

block content
    section.detailed-search
        .detailed-search-icon

        form(action="" method="post").wrapper.detailed-search-form
            .justifyed
                .label-select
                    select(data-placeholder='Выбор раздела').js--select-styled
                        option(value="value_1" disabled selected) Выбор раздела
                        option(value="value_2") value_2
                        option(value="value_3") value_3
                        option(value="value_4") value_4

                .label-select
                    select(data-placeholder='Выбор коллекции').js--select-styled
                        option(value="value_1" disabled selected) Выбор коллекции
                        option(value="value_2") value_2
                        option(value="value_3") value_3
                        option(value="value_4") value_4

                .label-select
                    select(data-placeholder='Выбор размера').js--select-styled
                        option(value="value_1" disabled selected) Выбор размера
                        option(value="value_2") value_2
                        option(value="value_3") value_3
                        option(value="value_4") value_4

            .justifyed
                .label-slider
                    span Цена:
                    input(type="text").range_min.slider-input.inp
                    div(data-index="0" data-min_range="50" data-step="10" data-min-current="2000" data-max-current="7000" data-max_range="10000").slider-range
                    input(type="text").range_max.slider-input.inp

            .detailed-search-params
                .checkboxes
                    label.checkbox
                        input(type="checkbox" name="")
                        .psevdochecbox
                        span новинки

                    label.checkbox
                        input(type="checkbox" name="")
                        .psevdochecbox
                        span в наличии

                    label.checkbox
                        input(type="checkbox" name="")
                        .psevdochecbox
                        span со скидкой

                .radios
                    label.radio
                        input(type="radio" name="name")
                        .psevdoradio
                        span рейтинг

                    label.radio.price-top
                        input(type="radio" name="name")
                        .psevdoradio
                        span цена

                    label.radio.price-bottom
                        input(type="radio" name="name")
                        .psevdoradio
                        span цена

                    label.radio
                        input(type="radio" name="name")
                        .psevdoradio
                        span новинки

                    label.radio
                        input(type="radio" name="name")
                        .psevdoradio
                        span название


            input(type="submit" value=" Искать").btn.btn-xl


    section
        .wrapper
            .title.border-bottom Блог

            ul.two-list
                li.two-list__el
                    a(href="").img
                        img(src="images/img--blog-1.jpg" alt /)

                    .content
                        a(href="").link Lorem ipsum dolor sit amet, consectetur
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

                li.two-list__el
                    a(href="").img
                        img(src="images/img--blog-2.jpg" alt /)

                    .content
                        a(href="").link Lorem ipsum dolor sit amet, consectetur
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

                li.two-list__el
                    a(href="").img
                        img(src="images/img--blog-3.jpg" alt /)

                    .content
                        a(href="").link Lorem ipsum dolor sit amet, consectetur
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

                li.two-list__el
                    a(href="").img
                        img(src="images/img--blog-4.jpg" alt /)

                    .content
                        a(href="").link Lorem ipsum dolor sit amet, consectetur
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

            a(href="").btn.btn-xl.js--load-more Больше

    // Этот скрипт на сервере удалять
    script(type="text/javascript" ) $(function(){$.pixlayout({src: "images/temp/blog.jpg",opacity: 0.5,top: 0,left: -4,center: false,clip: true,show: false});});





