block vars
    - var title='Title'

extends partials/layout

block content
    section.detailed-search
        .detailed-search-icon

        form(action="" method="post").wrapper.detailed-search-form
            .justifyed
                .label-select
                    select(data-placeholder='Выбор раздела').js--select-styled
                        option(value="value_1" disabled selected) Выбор раздела
                        option(value="value_2") value_2
                        option(value="value_3") value_3
                        option(value="value_4") value_4

                .label-select
                    select(data-placeholder='Выбор коллекции').js--select-styled
                        option(value="value_1" disabled selected) Выбор коллекции
                        option(value="value_2") value_2
                        option(value="value_3") value_3
                        option(value="value_4") value_4

                .label-select
                    select(data-placeholder='Выбор размера').js--select-styled
                        option(value="value_1" disabled selected) Выбор размера
                        option(value="value_2") value_2
                        option(value="value_3") value_3
                        option(value="value_4") value_4

            .justifyed
                .label-slider
                    span Цена:
                    input(type="text").range_min.slider-input.inp
                    div(data-index="0" data-min_range="50" data-step="10" data-min-current="2000" data-max-current="7000" data-max_range="10000").slider-range
                    input(type="text").range_max.slider-input.inp

            .detailed-search-params
                .checkboxes
                    label.checkbox
                        input(type="checkbox" name="")
                        .psevdochecbox
                        span новинки

                    label.checkbox
                        input(type="checkbox" name="")
                        .psevdochecbox
                        span в наличии

                    label.checkbox
                        input(type="checkbox" name="")
                        .psevdochecbox
                        span со скидкой

                .radios
                    label.radio
                        input(type="radio" name="name")
                        .psevdoradio
                        span рейтинг

                    label.radio.price-top
                        input(type="radio" name="name")
                        .psevdoradio
                        span цена

                    label.radio.price-bottom
                        input(type="radio" name="name")
                        .psevdoradio
                        span цена

                    label.radio
                        input(type="radio" name="name")
                        .psevdoradio
                        span новинки

                    label.radio
                        input(type="radio" name="name")
                        .psevdoradio
                        span название


            input(type="submit" value=" Искать").btn.btn-xl

    section.text
        .wrapper
            .title.border-bottom обмен / возврат

            .border-bottom
                p Интернет-магазина «Хуст энд Клэр»
                    br
                    ="г. Москва, 17 марта 2016 года."

            .border-bottom
                h3 1. ВВОДНАЯ ЧАСТЬ.
                p 1.1. – Настоящее пользовательское соглашения (далее – Соглашение) является Договором публичной оферты о продаже товаров интернет-магазина «Хуст энд Крэр», расположенному по адресу: www.hustandclaire.ru
                    br
                    ="1.2. – Сайт Интернет-магазина «www.hustandclaire.ru» (далее – Сайт) является собственностью DanishDesignTrade, который создан и действует с целью реализации (продажи) покупателям (физическим и юридическим лицам) товаров, предоставленных на Сайте, и находящихся в собственности Продавца до момента их реализации покупателям."

                p 1.3. – Продавец – ООО «Дэниш Дизайн Трейд» (именуемое далее по тексту Продавец), юридическое лицо, зарегистрированное в соответствии с действующим законодательством РФ, и осуществляющее продажу товаров дистанционным способом (посредством Интернет-магазина на Сайте www.hustandclaire.ru а также прием оплаты от покупателя за товары, приобретаемые на сайте www.hustandclaire.ru.
                    br
                    ="1.4. – Настоящее Соглашение регулирует отношения, возникающие между Продавцом, являющимся правообладателем Сайта в сети Интернет, расположенного по адресу www.hustandclaire.ru, и любым пользователем указанного Сайта - физическим или юридическим лицом, выступающим в качестве посетителя Сайта или Покупателя товаров у Продавца, размещенных на Сайте, именуемые в дальнейшем Стороны."

    // Этот скрипт на сервере удалять
    script(type="text/javascript" ) $(function(){$.pixlayout({src: "images/temp/EULA.jpg",opacity: 0.5,top: 0,left: -4,center: false,clip: true,show: false});});





