a, p, span, li, input, time, blockquote, textarea
  font-family $f_elektra
  font-size 16px
  color #525252
  line-height normal
  text-decoration none

a
  cursor pointer

h1
  font-family $f_elektra
  color #525252
  font-size 8px
  line-height 73px
  text-align left
  display block
  font-weight bold

h2
  font-family $f_elektra
  color #525252
  font-size 20px
  display block
  font-weight bold
