$f_elektra = 'elektra_light_proregular'
$f_pfdin = 'pf_din_text_cond_proregular'
$rub = 'als_rublregular'
$cBlue_d = #1f2d4c
$cBlue = #2b3e69
$cBlue_l = #4a90e2
$cYellow = #ffd200
$cRed = #e84e4e
$cBlack = #010101
