/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$icon_arrow_bottom_s_name = 'icon--arrow-bottom-s';
$icon_arrow_bottom_s_x = 197px;
$icon_arrow_bottom_s_y = 144px;
$icon_arrow_bottom_s_offset_x = -197px;
$icon_arrow_bottom_s_offset_y = -144px;
$icon_arrow_bottom_s_width = 10px;
$icon_arrow_bottom_s_height = 7px;
$icon_arrow_bottom_s_total_width = 241px;
$icon_arrow_bottom_s_total_height = 189px;
$icon_arrow_bottom_s_image = '../images/sprite/sprite.png';
$icon_arrow_bottom_s = 197px 144px -197px -144px 10px 7px 241px 189px '../images/sprite/sprite.png' 'icon--arrow-bottom-s';
$icon_arrow_bottom_name = 'icon--arrow-bottom';
$icon_arrow_bottom_x = 210px;
$icon_arrow_bottom_y = 114px;
$icon_arrow_bottom_offset_x = -210px;
$icon_arrow_bottom_offset_y = -114px;
$icon_arrow_bottom_width = 27px;
$icon_arrow_bottom_height = 8px;
$icon_arrow_bottom_total_width = 241px;
$icon_arrow_bottom_total_height = 189px;
$icon_arrow_bottom_image = '../images/sprite/sprite.png';
$icon_arrow_bottom = 210px 114px -210px -114px 27px 8px 241px 189px '../images/sprite/sprite.png' 'icon--arrow-bottom';
$icon_arrow_right_sm_name = 'icon--arrow-right-sm';
$icon_arrow_right_sm_x = 210px;
$icon_arrow_right_sm_y = 155px;
$icon_arrow_right_sm_offset_x = -210px;
$icon_arrow_right_sm_offset_y = -155px;
$icon_arrow_right_sm_width = 11px;
$icon_arrow_right_sm_height = 10px;
$icon_arrow_right_sm_total_width = 241px;
$icon_arrow_right_sm_total_height = 189px;
$icon_arrow_right_sm_image = '../images/sprite/sprite.png';
$icon_arrow_right_sm = 210px 155px -210px -155px 11px 10px 241px 189px '../images/sprite/sprite.png' 'icon--arrow-right-sm';
$icon_arrow_right_name = 'icon--arrow-right';
$icon_arrow_right_x = 201px;
$icon_arrow_right_y = 124px;
$icon_arrow_right_offset_x = -201px;
$icon_arrow_right_offset_y = -124px;
$icon_arrow_right_width = 22px;
$icon_arrow_right_height = 15px;
$icon_arrow_right_total_width = 241px;
$icon_arrow_right_total_height = 189px;
$icon_arrow_right_image = '../images/sprite/sprite.png';
$icon_arrow_right = 201px 124px -201px -124px 22px 15px 241px 189px '../images/sprite/sprite.png' 'icon--arrow-right';
$icon_arrow_slider_left_hover_name = 'icon--arrow-slider-left-hover';
$icon_arrow_slider_left_hover_x = 96px;
$icon_arrow_slider_left_hover_y = 78px;
$icon_arrow_slider_left_hover_offset_x = -96px;
$icon_arrow_slider_left_hover_offset_y = -78px;
$icon_arrow_slider_left_hover_width = 32px;
$icon_arrow_slider_left_hover_height = 108px;
$icon_arrow_slider_left_hover_total_width = 241px;
$icon_arrow_slider_left_hover_total_height = 189px;
$icon_arrow_slider_left_hover_image = '../images/sprite/sprite.png';
$icon_arrow_slider_left_hover = 96px 78px -96px -78px 32px 108px 241px 189px '../images/sprite/sprite.png' 'icon--arrow-slider-left-hover';
$icon_arrow_slider_left_name = 'icon--arrow-slider-left';
$icon_arrow_slider_left_x = 0px;
$icon_arrow_slider_left_y = 78px;
$icon_arrow_slider_left_offset_x = 0px;
$icon_arrow_slider_left_offset_y = -78px;
$icon_arrow_slider_left_width = 32px;
$icon_arrow_slider_left_height = 111px;
$icon_arrow_slider_left_total_width = 241px;
$icon_arrow_slider_left_total_height = 189px;
$icon_arrow_slider_left_image = '../images/sprite/sprite.png';
$icon_arrow_slider_left = 0px 78px 0px -78px 32px 111px 241px 189px '../images/sprite/sprite.png' 'icon--arrow-slider-left';
$icon_arrow_slider_right_hover_name = 'icon--arrow-slider-right-hover';
$icon_arrow_slider_right_hover_x = 32px;
$icon_arrow_slider_right_hover_y = 78px;
$icon_arrow_slider_right_hover_offset_x = -32px;
$icon_arrow_slider_right_hover_offset_y = -78px;
$icon_arrow_slider_right_hover_width = 32px;
$icon_arrow_slider_right_hover_height = 111px;
$icon_arrow_slider_right_hover_total_width = 241px;
$icon_arrow_slider_right_hover_total_height = 189px;
$icon_arrow_slider_right_hover_image = '../images/sprite/sprite.png';
$icon_arrow_slider_right_hover = 32px 78px -32px -78px 32px 111px 241px 189px '../images/sprite/sprite.png' 'icon--arrow-slider-right-hover';
$icon_arrow_slider_right_name = 'icon--arrow-slider-right';
$icon_arrow_slider_right_x = 64px;
$icon_arrow_slider_right_y = 78px;
$icon_arrow_slider_right_offset_x = -64px;
$icon_arrow_slider_right_offset_y = -78px;
$icon_arrow_slider_right_width = 32px;
$icon_arrow_slider_right_height = 111px;
$icon_arrow_slider_right_total_width = 241px;
$icon_arrow_slider_right_total_height = 189px;
$icon_arrow_slider_right_image = '../images/sprite/sprite.png';
$icon_arrow_slider_right = 64px 78px -64px -78px 32px 111px 241px 189px '../images/sprite/sprite.png' 'icon--arrow-slider-right';
$icon_arrow_top_s_name = 'icon--arrow-top-s';
$icon_arrow_top_s_x = 187px;
$icon_arrow_top_s_y = 144px;
$icon_arrow_top_s_offset_x = -187px;
$icon_arrow_top_s_offset_y = -144px;
$icon_arrow_top_s_width = 10px;
$icon_arrow_top_s_height = 7px;
$icon_arrow_top_s_total_width = 241px;
$icon_arrow_top_s_total_height = 189px;
$icon_arrow_top_s_image = '../images/sprite/sprite.png';
$icon_arrow_top_s = 187px 144px -187px -144px 10px 7px 241px 189px '../images/sprite/sprite.png' 'icon--arrow-top-s';
$icon_arrow_top_name = 'icon--arrow-top';
$icon_arrow_top_x = 160px;
$icon_arrow_top_y = 144px;
$icon_arrow_top_offset_x = -160px;
$icon_arrow_top_offset_y = -144px;
$icon_arrow_top_width = 27px;
$icon_arrow_top_height = 8px;
$icon_arrow_top_total_width = 241px;
$icon_arrow_top_total_height = 189px;
$icon_arrow_top_image = '../images/sprite/sprite.png';
$icon_arrow_top = 160px 144px -160px -144px 27px 8px 241px 189px '../images/sprite/sprite.png' 'icon--arrow-top';
$icon_basket_white_name = 'icon--basket-white';
$icon_basket_white_x = 202px;
$icon_basket_white_y = 53px;
$icon_basket_white_offset_x = -202px;
$icon_basket_white_offset_y = -53px;
$icon_basket_white_width = 30px;
$icon_basket_white_height = 29px;
$icon_basket_white_total_width = 241px;
$icon_basket_white_total_height = 189px;
$icon_basket_white_image = '../images/sprite/sprite.png';
$icon_basket_white = 202px 53px -202px -53px 30px 29px 241px 189px '../images/sprite/sprite.png' 'icon--basket-white';
$icon_basket_name = 'icon--basket';
$icon_basket_x = 172px;
$icon_basket_y = 53px;
$icon_basket_offset_x = -172px;
$icon_basket_offset_y = -53px;
$icon_basket_width = 30px;
$icon_basket_height = 29px;
$icon_basket_total_width = 241px;
$icon_basket_total_height = 189px;
$icon_basket_image = '../images/sprite/sprite.png';
$icon_basket = 172px 53px -172px -53px 30px 29px 241px 189px '../images/sprite/sprite.png' 'icon--basket';
$icon_decor_name = 'icon--decor';
$icon_decor_x = 161px;
$icon_decor_y = 114px;
$icon_decor_offset_x = -161px;
$icon_decor_offset_y = -114px;
$icon_decor_width = 49px;
$icon_decor_height = 10px;
$icon_decor_total_width = 241px;
$icon_decor_total_height = 189px;
$icon_decor_image = '../images/sprite/sprite.png';
$icon_decor = 161px 114px -161px -114px 49px 10px 241px 189px '../images/sprite/sprite.png' 'icon--decor';
$icon_delivery_name = 'icon--delivery';
$icon_delivery_x = 169px;
$icon_delivery_y = 85px;
$icon_delivery_offset_x = -169px;
$icon_delivery_offset_y = -85px;
$icon_delivery_width = 28px;
$icon_delivery_height = 23px;
$icon_delivery_total_width = 241px;
$icon_delivery_total_height = 189px;
$icon_delivery_image = '../images/sprite/sprite.png';
$icon_delivery = 169px 85px -169px -85px 28px 23px 241px 189px '../images/sprite/sprite.png' 'icon--delivery';
$icon_heart_name = 'icon--heart';
$icon_heart_x = 183px;
$icon_heart_y = 155px;
$icon_heart_offset_x = -183px;
$icon_heart_offset_y = -155px;
$icon_heart_width = 14px;
$icon_heart_height = 12px;
$icon_heart_total_width = 241px;
$icon_heart_total_height = 189px;
$icon_heart_image = '../images/sprite/sprite.png';
$icon_heart = 183px 155px -183px -155px 14px 12px 241px 189px '../images/sprite/sprite.png' 'icon--heart';
$icon_location_map_name = 'icon--location-map';
$icon_location_map_x = 140px;
$icon_location_map_y = 114px;
$icon_location_map_offset_x = -140px;
$icon_location_map_offset_y = -114px;
$icon_location_map_width = 21px;
$icon_location_map_height = 30px;
$icon_location_map_total_width = 241px;
$icon_location_map_total_height = 189px;
$icon_location_map_image = '../images/sprite/sprite.png';
$icon_location_map = 140px 114px -140px -114px 21px 30px 241px 189px '../images/sprite/sprite.png' 'icon--location-map';
$icon_location_name = 'icon--location';
$icon_location_x = 140px;
$icon_location_y = 169px;
$icon_location_offset_x = -140px;
$icon_location_offset_y = -169px;
$icon_location_width = 10px;
$icon_location_height = 14px;
$icon_location_total_width = 241px;
$icon_location_total_height = 189px;
$icon_location_image = '../images/sprite/sprite.png';
$icon_location = 140px 169px -140px -169px 10px 14px 241px 189px '../images/sprite/sprite.png' 'icon--location';
$icon_logo_wmg_name = 'icon--logo-wmg';
$icon_logo_wmg_x = 140px;
$icon_logo_wmg_y = 0px;
$icon_logo_wmg_offset_x = -140px;
$icon_logo_wmg_offset_y = 0px;
$icon_logo_wmg_width = 101px;
$icon_logo_wmg_height = 21px;
$icon_logo_wmg_total_width = 241px;
$icon_logo_wmg_total_height = 189px;
$icon_logo_wmg_image = '../images/sprite/sprite.png';
$icon_logo_wmg = 140px 0px -140px 0px 101px 21px 241px 189px '../images/sprite/sprite.png' 'icon--logo-wmg';
$icon_logo_name = 'icon--logo';
$icon_logo_x = 0px;
$icon_logo_y = 0px;
$icon_logo_offset_x = 0px;
$icon_logo_offset_y = 0px;
$icon_logo_width = 140px;
$icon_logo_height = 78px;
$icon_logo_total_width = 241px;
$icon_logo_total_height = 189px;
$icon_logo_image = '../images/sprite/sprite.png';
$icon_logo = 0px 0px 0px 0px 140px 78px 241px 189px '../images/sprite/sprite.png' 'icon--logo';
$icon_person_name = 'icon--person';
$icon_person_x = 170px;
$icon_person_y = 155px;
$icon_person_offset_x = -170px;
$icon_person_offset_y = -155px;
$icon_person_width = 13px;
$icon_person_height = 14px;
$icon_person_total_width = 241px;
$icon_person_total_height = 189px;
$icon_person_image = '../images/sprite/sprite.png';
$icon_person = 170px 155px -170px -155px 13px 14px 241px 189px '../images/sprite/sprite.png' 'icon--person';
$icon_phone_map_name = 'icon--phone-map';
$icon_phone_map_x = 197px;
$icon_phone_map_y = 85px;
$icon_phone_map_offset_x = -197px;
$icon_phone_map_offset_y = -85px;
$icon_phone_map_width = 21px;
$icon_phone_map_height = 23px;
$icon_phone_map_total_width = 241px;
$icon_phone_map_total_height = 189px;
$icon_phone_map_image = '../images/sprite/sprite.png';
$icon_phone_map = 197px 85px -197px -85px 21px 23px 241px 189px '../images/sprite/sprite.png' 'icon--phone-map';
$icon_phone_name = 'icon--phone';
$icon_phone_x = 197px;
$icon_phone_y = 155px;
$icon_phone_offset_x = -197px;
$icon_phone_offset_y = -155px;
$icon_phone_width = 13px;
$icon_phone_height = 11px;
$icon_phone_total_width = 241px;
$icon_phone_total_height = 189px;
$icon_phone_image = '../images/sprite/sprite.png';
$icon_phone = 197px 155px -197px -155px 13px 11px 241px 189px '../images/sprite/sprite.png' 'icon--phone';
$icon_price_bottom_name = 'icon--price-bottom';
$icon_price_bottom_x = 140px;
$icon_price_bottom_y = 155px;
$icon_price_bottom_offset_x = -140px;
$icon_price_bottom_offset_y = -155px;
$icon_price_bottom_width = 15px;
$icon_price_bottom_height = 14px;
$icon_price_bottom_total_width = 241px;
$icon_price_bottom_total_height = 189px;
$icon_price_bottom_image = '../images/sprite/sprite.png';
$icon_price_bottom = 140px 155px -140px -155px 15px 14px 241px 189px '../images/sprite/sprite.png' 'icon--price-bottom';
$icon_price_top_name = 'icon--price-top';
$icon_price_top_x = 155px;
$icon_price_top_y = 155px;
$icon_price_top_offset_x = -155px;
$icon_price_top_offset_y = -155px;
$icon_price_top_width = 15px;
$icon_price_top_height = 14px;
$icon_price_top_total_width = 241px;
$icon_price_top_total_height = 189px;
$icon_price_top_image = '../images/sprite/sprite.png';
$icon_price_top = 155px 155px -155px -155px 15px 14px 241px 189px '../images/sprite/sprite.png' 'icon--price-top';
$icon_search_name = 'icon--search';
$icon_search_x = 140px;
$icon_search_y = 85px;
$icon_search_offset_x = -140px;
$icon_search_offset_y = -85px;
$icon_search_width = 29px;
$icon_search_height = 29px;
$icon_search_total_width = 241px;
$icon_search_total_height = 189px;
$icon_search_image = '../images/sprite/sprite.png';
$icon_search = 140px 85px -140px -85px 29px 29px 241px 189px '../images/sprite/sprite.png' 'icon--search';
$icon_share_name = 'icon--share';
$icon_share_x = 218px;
$icon_share_y = 85px;
$icon_share_offset_x = -218px;
$icon_share_offset_y = -85px;
$icon_share_width = 21px;
$icon_share_height = 21px;
$icon_share_total_width = 241px;
$icon_share_total_height = 189px;
$icon_share_image = '../images/sprite/sprite.png';
$icon_share = 218px 85px -218px -85px 21px 21px 241px 189px '../images/sprite/sprite.png' 'icon--share';
$icon_sodical_fb_name = 'icon--sodical-fb';
$icon_sodical_fb_x = 140px;
$icon_sodical_fb_y = 21px;
$icon_sodical_fb_offset_x = -140px;
$icon_sodical_fb_offset_y = -21px;
$icon_sodical_fb_width = 32px;
$icon_sodical_fb_height = 32px;
$icon_sodical_fb_total_width = 241px;
$icon_sodical_fb_total_height = 189px;
$icon_sodical_fb_image = '../images/sprite/sprite.png';
$icon_sodical_fb = 140px 21px -140px -21px 32px 32px 241px 189px '../images/sprite/sprite.png' 'icon--sodical-fb';
$icon_sodical_in_name = 'icon--sodical-in';
$icon_sodical_in_x = 204px;
$icon_sodical_in_y = 21px;
$icon_sodical_in_offset_x = -204px;
$icon_sodical_in_offset_y = -21px;
$icon_sodical_in_width = 32px;
$icon_sodical_in_height = 32px;
$icon_sodical_in_total_width = 241px;
$icon_sodical_in_total_height = 189px;
$icon_sodical_in_image = '../images/sprite/sprite.png';
$icon_sodical_in = 204px 21px -204px -21px 32px 32px 241px 189px '../images/sprite/sprite.png' 'icon--sodical-in';
$icon_sodical_pin_name = 'icon--sodical-pin';
$icon_sodical_pin_x = 140px;
$icon_sodical_pin_y = 53px;
$icon_sodical_pin_offset_x = -140px;
$icon_sodical_pin_offset_y = -53px;
$icon_sodical_pin_width = 32px;
$icon_sodical_pin_height = 32px;
$icon_sodical_pin_total_width = 241px;
$icon_sodical_pin_total_height = 189px;
$icon_sodical_pin_image = '../images/sprite/sprite.png';
$icon_sodical_pin = 140px 53px -140px -53px 32px 32px 241px 189px '../images/sprite/sprite.png' 'icon--sodical-pin';
$icon_sodical_vk_name = 'icon--sodical-vk';
$icon_sodical_vk_x = 172px;
$icon_sodical_vk_y = 21px;
$icon_sodical_vk_offset_x = -172px;
$icon_sodical_vk_offset_y = -21px;
$icon_sodical_vk_width = 32px;
$icon_sodical_vk_height = 32px;
$icon_sodical_vk_total_width = 241px;
$icon_sodical_vk_total_height = 189px;
$icon_sodical_vk_image = '../images/sprite/sprite.png';
$icon_sodical_vk = 172px 21px -172px -21px 32px 32px 241px 189px '../images/sprite/sprite.png' 'icon--sodical-vk';
$icon_star_empty_name = 'icon--star-empty';
$icon_star_empty_x = 181px;
$icon_star_empty_y = 124px;
$icon_star_empty_offset_x = -181px;
$icon_star_empty_offset_y = -124px;
$icon_star_empty_width = 20px;
$icon_star_empty_height = 19px;
$icon_star_empty_total_width = 241px;
$icon_star_empty_total_height = 189px;
$icon_star_empty_image = '../images/sprite/sprite.png';
$icon_star_empty = 181px 124px -181px -124px 20px 19px 241px 189px '../images/sprite/sprite.png' 'icon--star-empty';
$icon_star_name = 'icon--star';
$icon_star_x = 161px;
$icon_star_y = 124px;
$icon_star_offset_x = -161px;
$icon_star_offset_y = -124px;
$icon_star_width = 20px;
$icon_star_height = 19px;
$icon_star_total_width = 241px;
$icon_star_total_height = 189px;
$icon_star_image = '../images/sprite/sprite.png';
$icon_star = 161px 124px -161px -124px 20px 19px 241px 189px '../images/sprite/sprite.png' 'icon--star';
$icon_tags_name = 'icon--tags';
$icon_tags_x = 140px;
$icon_tags_y = 144px;
$icon_tags_offset_x = -140px;
$icon_tags_offset_y = -144px;
$icon_tags_width = 20px;
$icon_tags_height = 11px;
$icon_tags_total_width = 241px;
$icon_tags_total_height = 189px;
$icon_tags_image = '../images/sprite/sprite.png';
$icon_tags = 140px 144px -140px -144px 20px 11px 241px 189px '../images/sprite/sprite.png' 'icon--tags';
$icon_world_name = 'icon--world';
$icon_world_x = 223px;
$icon_world_y = 124px;
$icon_world_offset_x = -223px;
$icon_world_offset_y = -124px;
$icon_world_width = 15px;
$icon_world_height = 15px;
$icon_world_total_width = 241px;
$icon_world_total_height = 189px;
$icon_world_image = '../images/sprite/sprite.png';
$icon_world = 223px 124px -223px -124px 15px 15px 241px 189px '../images/sprite/sprite.png' 'icon--world';
$spritesheet_width = 241px;
$spritesheet_height = 189px;
$spritesheet_image = '../images/sprite/sprite.png';
$spritesheet_sprites = $icon_arrow_bottom_s $icon_arrow_bottom $icon_arrow_right_sm $icon_arrow_right $icon_arrow_slider_left_hover $icon_arrow_slider_left $icon_arrow_slider_right_hover $icon_arrow_slider_right $icon_arrow_top_s $icon_arrow_top $icon_basket_white $icon_basket $icon_decor $icon_delivery $icon_heart $icon_location_map $icon_location $icon_logo_wmg $icon_logo $icon_person $icon_phone_map $icon_phone $icon_price_bottom $icon_price_top $icon_search $icon_share $icon_sodical_fb $icon_sodical_in $icon_sodical_pin $icon_sodical_vk $icon_star_empty $icon_star $icon_tags $icon_world;
$spritesheet = 241px 189px '../images/sprite/sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
