block vars

footer
    .hover_menu
        //.arrow
            .arrow-icon

        .menu
            .wrapper
                ul.clearfix
                    li
                        a(href='#') Информация
                    li
                        a(href='#') О компании
                    li
                        a(href='#') Мой Hust&Claire
                    li
                        a(href='#') КОНТАКТЫ

        .footer_menu
            .wrapper.clearfix
                .one.mesh25
                    ul
                        li
                            a(href='#') Режим работы
                        li
                            a(href='#') Оплата
                        li
                            a(href='#') Доставка
                        li
                            a(href='#') Обмен/возврат
                        li
                            a(href='#') Пользовательское соглашение
                        li
                            a(href='#').boldfont Распродажи и акции
                        li
                            a(href='#') Вопрос-Ответ
                        li
                            a(href='#') Блог

                .two.mesh25
                    ul
                        li
                            a(href='#') Миссия
                        li
                            a(href='#') История
                        li
                            a(href='#') Направления деятельности
                        li
                            a(href='#') Контакты

                .three.mesh25
                    ul
                        li
                            a(href='#') Личный кабинет
                        li
                            a(href='#') Корзина
                        li
                            a(href='#') Избранное
                        li
                            a(href='#') Мои отзывы
                        li
                            a(href='#') История заказов
                        li
                            a(href='#') Поддержка пользователей
                        li
                            a(href='#').boldfont Оставить отзыв

                .forth.mesh25
                    a(href='tel:88007632904') 8 (800) 763-29-04
                    .line
                    .society
                        .title социальные сети
                        ul.clearfix
                            li
                                a(href='#')
                            li
                                a(href='#')
                            li
                                a(href='#')
                            li
                                a(href='#')

    .last_info
        .wrapper.clearfix
            p Copyright (C) Hust and Claire 2016. All rights reserved.
            a(href='#')