block vars

header
    div.reg
        div.wrapper.clearfix
            div.login.clearfix
                a(href="#") Вход
                =" / "
                a(href="#") Регистрация

            div.select_panel.clearfix
                div.language
                    span English
                    div.dragger
                        ul
                            li Русский

                div.place Москва
                    div.dragger
                        ul
                            li
                                input(placeholder='Ваш город' type='text')

                div.phone
                    a(href='tel: +880076329048') (800) 763-29-04


    div.menu
        div.wrapper.clearfix
            div.logo
                a(href='#')

            div.menu_list
                ul.clearfix
                    li
                        a(href='#') Новорожденные

                    li
                        a(href='#') Мальчики

                    li
                        a(href='#') Девочки

                    li
                        a(href='#') Шерсть



            div.events.clearfix
                a(href='#').favorite.clearfix
                    div.icon
                    span Избранное

                div.search
                    form
                        input(type='text')
                        input(type='submit' value='')

                a(href='#').basket
                    div.number 14
