.new_slider
    div
        .grid
            .table
                .table-cell
                    img(alt src="images/new_slider_1.png")

        p Свитшот Hust and Claire
        span
            em.rub q
            =" 9 999"
    
    div
        .grid
            .table
                .table-cell
                    img(alt src="images/new_slider_2.png")
        
        p Свитшот Hust and Claire
        
        span
            em.rub q
            =" 9 999"
    
    div
        .grid
            .table 
                .table-cell
                    img(alt src="images/new_slider_3.png")
        
        p Свитшот Hust and Claire

        span
            em.rub q
            =" 9 999"
    
    div
        .grid
            .table 
                .table-cell
                    img(alt src="images/new_slider_1.png")
        
        p Свитшот Hust and Claire

        span
            em.rub q 9 999
            =" 9 999"

    div
        .grid
            .table 
                .table-cell
                    img(alt src="images/new_slider_2.png")
        
        p Свитшот Hust and Claire

        span
            em.rub q
            =" 9 999"
    
    
