.payment-list
  display block

  li
    margin-right 14px

    .img
      display block
      
      img
        max-height 50px
        filter grayscale(90%)
        -webkit-filter grayscale(90%)
        transition all 0.2s ease-in-out
        -webki-transition all 0.2s ease-in-out

    .img:hover
      img
        filter grayscale(0%)
        -webkit-filter grayscale(0%)